.wrapper-form-forgot {
    margin-top: 70px;
    background-color: var(--color--main);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.wrapper-form-forgot img {
    width: 500px;
    height: 500px;
    padding-right: 100px;
}

.form-signin {
    padding-left: 100px;
}

.form-forgot {
    background-color: var(--color--white);
    border-radius: 30px;
    padding: 20px;
}
.form-forgot input {
    border-radius: 20px;
    padding: 10px;
}