.wrapper-login {
    display: block;
    margin-top: 50px;
    border-radius: 20px;
    transition: all 1s ease-in;
}

.wrapper-login:hover{
    box-shadow: 0 0px 10px  var(--color--organe);
    transform: scale(1);
}

.wrapper-login.hidden {
    position: absolute;
    top: -800px;
}

.wrapper-image img {
    width: 100%;
    height: auto;
    max-width: 500px;
    padding-bottom: 38px;
    margin-right: 100px;
}

.wrapper-image {
    width: 50%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color--organe);
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.form {
    padding: 40px;
    width: 50%;
    height: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}


.form-control {
    border-radius: 10px;
    border: 2px solid var(--color--main);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    padding: 12px 15px;
    font-size: 16px;
}

.form-control:focus {
    border-color: var(--color-orange);
    box-shadow: 0 0 5px rgba(255, 165, 0, 0.5);
    outline: none;
}

.form-label {
    font-weight: 600;
    margin-bottom: 8px;
    color: var(--color-main);
}