/* from base fol */
@import url('./base/reset.css');
@import url('./base/global.css');
@import url('./base/variable.css');
@import url('./base/text.css');
@import url('./base/button.css');
/* from components fol */
@import url('./components/footer.css');
/* from pages fol */
@import url('./pages/login.css');
@import url('./pages/register.css');
/* from layouts fol */
@import url('./layouts/header.css');
@import url('./layouts/about_us.css');
@import url('./layouts/service.css');
@import url('./layouts/use_profile.css');


body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
